<header class="clearfix atlas-header">
    <div class="mainHeader">
        <div class="header-sec1">
            <div style="display: flex; flex: 0.1">
                <div  style="display: flex ;flex:0.65">
                    <div style="flex: 1 ;align-items: flex-start; justify-content: flex-start;">
                        <img src="images/R_logo.png" height="64px" width="64px">
                    </div>
                </div>
                <div class="headerIcons">
                    <span data-id="sideCollapes"><i data-id="sideCollapes" class="fa fa-bars fa-lg" style="color: gray;"></i></span>
                </div>
            </div>
            <div class="headerLogo">
                <div class="title" style="font-weight: bold; color: black; font-size: 16px;">Ranger</div>
                <div class="" style="font-weight: bold;  font-size: 12px;">Dashboard</div>
            </div>
        </div>

        <div class="has-feedback align-left-right-icon search-box header-sec2">
            <div class="headerTextView">
            <div style="left: 10px;
            align-items: center;
            justify-content: center;
            width: 5%;
            position: absolute;">
                <span class="fa fa-search form-control-feedback"></span>
            </div>
                <input type="text" class="form-control global-search" style="
                background-color: #F7F7F7; 
                width: 100%; 
                padding-left: 30px;     
                font-family: Rakuten Sans UI" name="global search" placeholder="Search" data-id="globalSearch" />
            </div>
        </div>

        <div class="header-sec3">
            <div style=" display: flex;flex:0.5; align-items: center; justify-content: flex-end;">
                <table class="header-menu" style="width: 50%; margin-top: 4px; margin-right: 10px;">
                    <tr>
                        <td class="dropdown">
                            <a href="javascript:void(0);" style=" flex-direction: row-reverse; display: flex; color: gray;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="user-dropdown"><span>Admin</span><i style=" margin-right: 10px;" class="fa fa-lg fa-user user-circle "></i></a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="#!/userprofile"><i class="fa fa-user m-r-xs"></i> Profile </a>
                                <a class="dropdown-item" href="javascript:;" class="_allowNav" data-id="logout"><i class="fa fa-power-off m-r-xs"></i> Log Out </a>
                            </div>
                        </td>
                    </tr>
                </table>           
            </div>        
        </div>
    </div>
</header>