{{!--
  Licensed to the Apache Software Foundation (ASF) under one or more
  contributor license agreements.  See the NOTICE file distributed with
  this work for additional information regarding copyright ownership.
  The ASF licenses this file to You under the Apache License, Version 2.0
  (the "License"); you may not use this file except in compliance with
  the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
--}}
<td>
    <div class="range-time-piker form-control">
        <div id="reportrange" class="inline-block" data-js="startTime">
            <i class="fa fa-calendar"></i>&nbsp;
            <div type="input" class="inline-block" value="{{this.startTime}}" data-js="startTimeInput" style="width: 165px"></div>
        </div>
        <div class="inline-block pull-right onCloseBtn" data-value="startTime" style="top: 1px; position: relative;">
            <i class="fa fa-times-circle-o"></i>
        </div>
    </div>
</td>
<td>
    <div class="range-time-piker form-control">
        <div id="reportrange" class="inline-block" data-js="endTime">
            <i class="fa fa-calendar"></i>&nbsp;
            <div  class="inline-block" data-js="endTimeInput" style="width: 165px"></div>
        </div>
        <div class="inline-block pull-right onCloseBtn" data-value="endTime" style="top: 1px; position: relative;">
            <i class="fa fa-times-circle-o"></i>
        </div>
    </div>
</td>
<td>
        <input type="text" data-js="timezone" value="{{this.timeZone}}" placeholder="Select timezone" class="date-input-width-127" />
</td>
<td>
        <button type="button" class="btn btn-sm btn-danger" data-action="delete">
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M16.875 4.03325L15.9669 3.12512L10 9.092L4.03313 3.12512L3.125 4.03325L9.09188 10.0001L3.125 15.967L4.03313 16.8751L10 10.9082L15.9669 16.8751L16.875 15.967L10.9081 10.0001L16.875 4.03325Z" fill="#9C9C9C"/>
            </svg>
        </button>
</td>
